# Configurações do OCI Object Storage
OCI_BUCKET_NAME=techknowledge-models
OCI_NAMESPACE=idxxxxxxx  # Substitua pelo seu namespace OCI (ex: id6g3h7k)
MODEL_OBJECT_NAME=pipeline_classificador.pkl

# URL e porta (para uso interno)
PORT=8000